
{% extends 'base.html' %}

{% block content %}
    <h3>Quebras de linha</h3>
    <p>
    Mussum Ipsum, cacilds vidis litro abertis. <br>
    Interessantiss quisso pudia ce receita de bolis,<br>
    mais bolis eu num gostis. Vehicula non. Ut sed ex eros.<br>
    Vivamus sit amet nibh non tellus tristique interdum.<br>
    Quem num gosta di mim que vai caçá sua turmis!<br>
    Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!<br>
    </p>
    <h3>Linhas continuas</h3>
    <p>
    Mauris nec dolor in eros commodo tempor.
    Aenean aliquam molestie leo, vitae iaculis nisl.
    Diuretics paradis num copo é motivis de denguis.
    Casamentiss faiz malandris se pirulitá.
    Sapien in monti palavris qui num significa nadis i pareci latim.
    </p>
    <p><a href="http://mussumipsum.com/">MussumIpsum</a></p>
{% endblock %}